@use './mixins.scss' as m;

$color-purble-primary: #7C5DFA;
$color-purple-100: #DFE3FA;
$color-purple-400: #9277FF;
$color-purple-500: #7E88C3;
$color-middle-grey: #888EB0;
$color-light-grey: #F8F8FB;
$color-red: #EC5757;
$color-pink: #FF9797;