@use '../../../styles/mixins.scss' as m;


.title {
    margin-bottom: 8px;
}

.desc {
    @include m.font($size: 12px, $weight: 500, $height: 22px, $spacing: -0.25px);
    margin-bottom: 32px;
    color: #888EB0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}